@import "./normalize.css";

:root {
  --base-width: 502px;
  --base-border: #c4c4c4;
  --base-white: #fff;
  --base-btn: #ccc;
  --base-blue: #0074e9;
}

*,
*:before,
*::after {
  box-sizing: border-box;
}

/* 공통 속성 */
.btn-box,
.purchase {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 42px;
  height: 42px;
  padding: 0;
  border: none;
}

@keyframes moveEffect {
  from {
  }
  to {
  }
}

h2 {
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: var(--base-width);
  height: 100vh;
  background: #f5f5f5;
}

.container {
  width: inherit;
}

.ottogi:hover,
.kamill:hover,
.gomgom:hover {
  border: 1px solid var(--base-blue);
}

.ottogi {
  position: relative;
  margin-bottom: 16px;
  height: 310px;
  background: var(--base-white);
  border: 1px solid var(--base-border);
}

.ottogi-container {
  height: inherit;
}

.box {
  position: absolute;
  top: 70px;
  left: 70px;
  text-align: center;
}

.box > img {
  margin-bottom: 20px;
}

.ottogi-container > img {
  position: absolute;
  top: 20px;
  right: 30px;
}

.bottom-boxes {
  display: flex;
  justify-content: space-between;
}

.kamill,
.gomgom {
  position: relative;
  width: 243px;
  height: 310px;
  background: var(--base-white);
  border: 1px solid var(--base-border);
}

.kamill-box,
.gomgom-box {
  padding: 20px 0;
  text-align: center;
}

.purchase {
  width: 112px;
  height: 42px;
  background: var(--base-blue);
  color: var(--base-white);
  font-size: 14px;
  line-height: 1.2rem;
}

.purchase span {
  margin-right: 10px;
}

.btn-box a {
  display: block;
}

.btn-box img {
  width: inherit;
  height: inherit;
}
