<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>header</title>
    <link
      href="//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" href="../../styles/style.css" />
  </head>
  <body>
    <header>
      <div class="header-box">
        <a href="/" class="netflix-logo">
          <svg class="icon icon--logo">
            <use href="./assets/icon/_sprite.svg#Logo" />
          </svg>
        </a>
        <div class="select-signin-box">
          <div class="select-lang">
            <button type="button" class="selected">
              <img src="./../../assets/global-icon.svg" alt="" />
              <span class="lang">한국어</span>
              <img src="./../../assets/down-icon.svg" alt="" />
            </button>
            <ul class="select-box">
              <li class="option">한국어</li>
              <li class="option">English</li>
            </ul>
          </div>
          <a href="/" class="signin-btn">로그인</a>
        </div>
      </div>
    </header>
  </body>
</html>
