header {
  padding: 1.25em 6.25em;
}

.header-box {
  display: flex;
  /* inline-size: 105em; */
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
}

.netflix-logo {
  inline-size: 8.75;
  block-size: 2.5em;
}

.select-signin-box {
  display: flex;
  flex-flow: row nowrap;
}

.signin-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 4.375em;
  block-size: 2.6em;
  margin-inline-start: 1.5em;
  border-radius: 4px;
  background: var(--primary-red-1);
  color: var(--font-white);
  font-weight: 700;
}

.signin-btn:hover {
  background: var(--primary-red-2);
}

@media (max-width: 768px) {
  header {
    padding: 0.625em 1.875em;
  }

  .netflix-logo {
    inline-size: 5em;
    block-size: 1.375em;
  }

  .signin-btn {
    font-size: 12px;
    inline-size: 5em;
    block-size: 2.5em;
  }
}
