<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>header</title>
    <link
      href="//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" href="./index.css" />
  </head>
  <body>
    <header>
      <div class="header-box">
        <a href="/" class="netflix-logo">
          <img src="./../../assets/Logo.svg" alt="넷플릭스 홈으로" />
        </a>
        <div class="select-signin-box">
          <select name="languages" id="lang">
            <option value="ko">한국어</option>
            <option value="en">English</option>
          </select>
          <a href="/" class="signin-btn">로그인</a>
        </div>
      </div>
    </header>
  </body>
</html>
