@import "./common.css";
@import "./reset.css";

.sign-in {
  flex-flow: column nowrap;
  margin: 0 auto;
  max-width: 1440px;
  height: 850px;
  background: url(../assets/login-bg.png) center/cover no-repeat;
  color: #fff;
}

.title {
  font-size: 2.25rem;
  font-weight: 100;
}

.subtitle-en {
  margin-top: 15px;
  font-size: 1.125rem;
  font-weight: 300;
}

.subtitle-ko {
  font-size: 0.75rem;
  font-weight: 300;
}

.form-inner {
  flex-flow: column nowrap;
}
