!<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>footer</title>
    <link
      href="//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" href="../styles/style.css" />
    <link rel="stylesheet" href="./index.css" />
  </head>
  <body>
    <footer>
      <div class="footer-wrapper">
        <em>질문이 있으신가요? 문의 전화: 00-308-321-0058</em>
        <ul>
          <li><a href="">자주묻는 질문</a></li>
          <li><a href="">고객센터</a></li>
          <li><a href="">계정</a></li>
          <li><a href="">미디어 센터</a></li>
          <li><a href="">투자 정보(IR)</a></li>
          <li><a href="">입사 정보</a></li>
          <li><a href="">Netflix 지원 디바이스</a></li>
          <li><a href="">이용 약관</a></li>
          <li><a href="">개인정보</a></li>
          <li><a href="">쿠키 설정</a></li>
          <li><a href="">회사 정보</a></li>
          <li><a href="">문의하기</a></li>
          <li><a href="">속도 테스트</a></li>
          <li><a href="">법적 고지</a></li>
          <li><a href="">Netflix 오리지널</a></li>
        </ul>
      </div>
    </footer>
  </body>
</html>
