.toggle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.select-wrapper {
  display: inline-flex;

  border: 1px solid #acacac;
  position: relative;
}

.select-lang {
  width: 100%;
  padding: 0.429em 1.714em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align-last: center;
  text-align: center;
  -ms-text-align-last: center;
  -moz-text-align-last: center;
  font-size: 14px;
  color: var(--font-gray-4);
  background: none;
}

.select-lang option {
  text-align-last: center;
  text-align: center;
  -ms-text-align-last: center;
  -moz-text-align-last: center;
}

.icon--global,
.icon--down {
  position: absolute;
  inline-size: 1em;
  block-size: 1em;
  pointer-events: none;
  top: 50%;
  translate: 0 -50%;
}

.icon--global {
  left: 5%;
}

.icon--down {
  right: 5%;
}

@media (min-width: 960px) {
  .select-lang {
    font-size: 1rem;
    padding: 0.5em 2em;
  }
}
