<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>toggle</title>
    <link
      href="//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" href="../../styles/style.css" />
    <script src="./toggle.js" defer></script>
  </head>
  <body>
    <div class="toggle-container">
      <div class="select-wrapper">
        <svg class="icon icon--global">
          <use href="../../assets/icon/_sprite.svg#global-icon" />
        </svg>
        <select
          class="select-lang"
          name="selectLanguage"
          aria-label="언어 선택"
        >
          <option value="ko">한국어</option>
          <option value="en">English</option>
        </select>
        <svg class="icon icon--down">
          <use href="../../assets/icon/_sprite.svg#down-icon" />
        </svg>
      </div>
    </div>
  </body>
</html>
