@import "./components/footer/index.css";
@import "./components/form/index.css";
@import "./components/header/index.css";
@import "./components/toggle/index.css";

:root {
  --font-white: #fff;
  --font-gray-1: #c8c8c8;
  --font-gray-2: #acacac;
  --font-gray-3: #919191;
  --font-gray-4: #757575;
  --divider: #2f2f2f;
  --bg-black: #010101;
  --primary-red: #e50914;
}

body {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
  block-size: 100vh;
}

.netflix-container {
  inline-size: 100%;
  block-size: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, #000 100%),
    url(./assets/bg_large.svg), lightgray 500% / cover no-repeat;
  color: var(--font-white);
}
